<%= labelled_form_for @pref, url: telegram_preferences_path, method: :put do |f| %>
  <fieldset class="box">
    <legend><%= l(:label_user_telegram_settings)%></legend>
    <%= error_messages_for @pref %>
    <% %w(issues git).each do |field| %>
      <%= render partial: 'filter_input', locals: {f: f, field: field} %>
    <% end %>
    <p>
      <%= f.check_box :no_self_notified, label: l(:label_user_mail_no_self_notified) %>
    </p>
    <%= submit_tag l(:button_update) %>
  </fieldset>
<% end %>
