<div class='author'>
  <span class='date'><%= date %></span>:
  <%= author %>
</div>
<div class="title"><%= time_entry.issue %></div>
<div class="hours"><%= time_entry.activity %>: <%= hours_added_text %></div>
