<div class='author'>
  <span class='date'><%= date %></span>:
  <%= author %>
</div>
<div class="title"><%= time_entry.issue %></div>
<div class="hours">
  <%= time_entry.activity %>:
  <span class="hours_add">+<%= l_hours(time_entry.hours) %></span>
</div>
